<ul {% if index %}id="filter"{% endif %}>
  <li class="name">
    <a href="{{ root_url }}/"
     {% if index %}
     title="Created by Pete" 
     data-filter="*"
     {% else %}
     title="Back to homepage"
     {% endif %}>
      <img src="{% asset_path cbp-logo.png %}" alt="Created by Pete">
    </a>
  </li>
  <li>
    <a href="#" title="Articles" data-filter=".articles" class="category"><i class="icon-pencil"></i> Articles</a>
  </li>
  {% comment %}
  <li>
    <a href="#" title="Work" data-filter=".work" class="category"><i class="icon-lightbulb"></i> Work</a>
  </li>
  <li>
    <a href="#" title="Playground" data-filter=".playground" class="category"><i class="icon-beaker"></i> Playground</a>
  </li>
  <li>
    <a href="{{ root_url }}/peter-rhoades" title="About"><i class="icon-user"></i> Info</a>
  </li>
  {% endcomment %}
</ul>