---
layout: default
---
{% capture has_image %}{{ page.image | size }}{% endcapture %}
<article id="thepost" class="hentry {{ page.categories | first }}{% if has_image != '0' %} image{% endif %}" role="article" 
{% if has_image != '0' %}
  style="background-image: url('/media/750x370/{{ page.image }}')"
{% endif %}
>
  <header>
    <h1 class="entry-title">{{ page.title }}</h1>
  </header>
  <section class="entry-content">
    {{ content }}
  </section>
  <footer>
    <p class="meta">
      {% include post/date.html %}
      <i class="icon-pencil"></i> Written by <a rel="me" href="https://plus.google.com/116964527372254202973?rel=author" target="_blank" class="vcard author"><span class="fn">{{ site.author }}</span></a> on {{ time }}
      {% if was_updated != '0' %}
        ({{ updated }})
      {% endif %}
    </p>
  </footer>
</article>
