<a href="{{ root_path }}" class="logo" title="Created by Pete">
  <img src="{% asset_path logo.png %}" width="100%" alt="Created by Pete">
</a>
<ul>
  <li class="articles">
    <a href="{{ root_path }}" title="Articles"><i class="icon-pencil"></i></a>
  </li>
  <li class="network github">
    <a rel="me" href="http://github.com/{{ site.networks.github }}" title="Fork me on GitHub"><i class="icon-github"></i></a>
  </li>
  <li class="network twitter">
    <a rel="me" href="http://twitter.com/{{ site.networks.twitter }}" title="Follow me on Twitter"><i class="icon-twitter"></i></a>
  </li>
  <li class="network google-plus">
    <a rel="me" href="https://plus.google.com/116964527372254202973" title="Follow me on Google+"><i class="icon-google-plus"></i></a>
  </li>
  <li class="network feed">
    <a href="{{ root_path }}atom.xml" title="Feed"><i class="icon-rss"></i></a>
  </li>
</ul>
