<a href="{{ root_url }}" class="logo">CBP</a>
<ul>
  <li>
    <a href="{{ root_url }}" title="Articles"><i class="icon-pencil"></i></a>
  </li>
  <li>
    <a href="http://github.com/{{ site.networks.github }}" title="Fork me on GitHub"><i class="icon-github"></i></a>
  </li>
  <li>
    <a href="http://twitter.com/{{ site.networks.twitter }}" title="Follow me on Twitter"><i class="icon-twitter"></i></a>
  </li>
  <li>
    <a href="{{ root_url }}atom.xml" title="Feed"><i class="icon-rss"></i></a>
  </li>
</ul>
