<meta content="summary" name="twitter:card" >
{% if page.title %}
  <meta content="{{ page.title }}" name="twitter:title">
{% else %}
  <meta content="{{ site.title }}" name="twitter:title">
{% endif %}
{% if page.excerpt %}
  <meta content="{{ page.excerpt | strip_html }}" name="twitter:description">
{% else %}
  <meta content="{{ site.description }}" name="twitter:description">
{% endif %}
{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" name="twitter:url">
{% endif %}
<meta content="{{ site.url }}{{ 'logo-with-bg.png' | asset_path }}" name="twitter:image">
<meta content="@{{ site.networks.twitter }}" name="twitter:site">
<meta content="@{{ site.networks.twitter }}" name="twitter:creator">
