@function grid-width($n) {
  @return $n * $gridColumn + ($n - 1) * $gridGutter;
}

@mixin link-colours($normal, $visited: false, $hover: false, $focus: false, $active: false) {
  color: $normal;
  @if $visited {
    &:visited {
      color: $visited; 
    } 
  }
  @if $hover {
    &:hover {
      color: $hover; 
    } 
  }
  @if $focus {
    &:focus {
      color: $focus; 
    } 
  }
  @if $active {
    &:active {
      color: $active; 
    } 
  } 
}

@mixin section-borders($size: 3px) {
  border-top: solid $size transparent;
  &.articles { border-color: $articlesColour }
  &.playground { border-color: $playgroundColour }
}