@import "mixins";
@import "compass";
@import "breakpoint";
@import "vendor/font-awesome";
@import "vendor/pygments";

// Colours
// -------------------------
$mainColour:            #3498db;
$secondaryColour:       #d3d2ce;
$codeBackground:        #fef9ec;

$articlesColour:        #3498db;
$playgroundColour:      #f1c40f;

// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #222;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;

$bodyBackground:        #f9f9f9;
$textColour:            $grayDark;

// Layout
// -------------------------
$navWidth:   100px;
$gridColumn: 180px;
$gridGutter: 10px;

$articlePadding: ($gridColumn/2);

// Typography
// -------------------------
$base-font-size: 16px;
$base-line-height: 24px;
$headingFontFamily: "Bitter", serif;
$bodyFontFamily: "Open Sans", Helvetica,  sans-serif;
$codeFontFamily: Monaco, Menlo, Consolas, "Courier New", monospace;



@include establish-baseline;

* { @include box-sizing(border-box); }
html, body {
  height: 100%;
  font-weight: 400;
  font-family: $bodyFontFamily;
  background-color: $bodyBackground;
  color: $textColour;
}

h1, h2, h3, h4, h5, h6 { font-family: $headingFontFamily; font-weight: 700; }
h1 { @include adjust-font-size-to(48px); }
h2 { @include adjust-font-size-to(36px); }
h3 { @include adjust-font-size-to(24px); }
h4 { @include adjust-font-size-to(18px); }
h5 { @include adjust-font-size-to(14px); }
h6 { @include adjust-font-size-to(14px); font-weight: 400; }

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 0 $base-line-height;
  border-left: solid 5px $grayLighter;
  color: $gray;
  font-style: italic;

  p {
    margin-bottom: 0;
    line-height: 1.8em;
  }
  small {
    display: block;
    line-height: $base-line-height;
    color: $grayLight;
    &:before {
      content: "\2014 \00A0";
    }
  }
}

pre {
  background-color: $codeBackground;
  color: $gray;
  font-family: $codeFontFamily;
  white-space: pre;
  overflow: scroll;

  code { background-color: transparent; }
}

a {
  text-decoration: none;
  @include link-colours($mainColour);
}
// a[href^="http"]:after {
//   @include font-awesome;
//   color: $grayLighter;
//   content: " \f08e";
// }

p, li {
  code {
    @include border-radius(3px);
    @include adjust-font-size-to(14px);
    color: $gray;
    padding: 0 .3em;
    background-color: #fef9ec;
    border: solid 1px darken(#fef9ec, 5%);
  }
  a {
    @include transition(background-color 200ms ease);
    padding: 0 .2em;

    &:hover {
      background-color: lighten($mainColour, 40%);
    }
  }
}

.img-centered {
  text-align: center;
  margin-left: -($articlePadding);
  margin-right: -($articlePadding);
}
