nav#thenav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    float: left;
    display: block;
    width: $navWidth;
    height: $navWidth;
    background-color: $mainColour;
  }

  a {
    @include transition(background-color 300ms ease);
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: $white;
    padding-top: 25%;
    font-size: 14px;

    [class^="icon-"],
    [class*=" icon-"] {
      font-size: 1.3rem;
      display: inline;
      width: 1em;
      &:after { content: "\A"; white-space: pre; } // Forces new line without a <br>
    }

    &:hover { background-color: lighten($mainColour, 10%); }
  }

  .name {
    a { padding-top: 0; }
  }
}
