@mixin nav-block-item {
  $nav-size: 50px;
  display: block;
  width: $nav-size;
  height: $nav-size;
  line-height: $nav-size;
  color: $white;
  text-align: center;

  @include breakpoint($tablet-portrait) {
    $nav-size: 100px;
    width: $nav-size;
    height: $nav-size;
    line-height: $nav-size;
  }
}

.nav {
  @include clearfix;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: $mainColour;

  @include breakpoint($tablet-portrait) {
    width: 100px;
  }

  .logo {
    @include nav-block-item;
    float: left;
    border-right: solid 1px lighten($mainColour, 5%);

    @include breakpoint($tablet-portrait) {
      border-right: 0;
    }

    &:hover {
      background-color: lighten($mainColour, 5%);
    }
  }

  ul {
    @include horizontal-list;
    float: right;

    li {
      padding: 0;
    }

    a {
      @include nav-block-item;
      float: left;
      border-left: solid 1px lighten($mainColour, 5%);

      @include breakpoint($tablet-portrait) {
        border-left: 0;
        border-top: solid 1px lighten($mainColour, 5%);
      }
    }

    [class^="icon-"],
    [class*=" icon-"] {
      font-size: 1.1em;
      line-height: inherit;

      @include breakpoint($tablet-portrait) {
        font-size: 1.6em;
      }
    }
  }
}

#articles {
  li.articles a {
    background-color: $white;
    color: $mainColour;
  }
}
