@import "compass";
@import "compass/layout";
@import "vendor/normalize";
@import "vendor/isotope";
@import "global";
@import "nav";
@import "articles";

body {
  .container { padding-left: $navWidth + $gridGutter; padding-right: 3%; padding-top: $gridGutter; }
  &>footer {
    text-align: center;
    padding-top: $gridColumn/4;
    padding-bottom: $gridColumn/4;
    padding-left: $navWidth + $gridGutter;
    padding-right: 3%; }
}

section#thegrid {
  width: grid-width(5) + $gridGutter;
  margin: 0 auto;

  &>.item {
    @include box-shadow(0 1px 1px rgba(0,0,0,.15));
    position: relative;
    width: grid-width(1);
    height: grid-width(1);
    margin: $gridGutter/2;
    display: block;
    background-color: $white;
    text-align: center;
    background-position: center;

    &.large { width: grid-width(2); height: grid-width(2); }
    &.tall { height: grid-width(2); }
    &.wide { width: grid-width(2); }

    &>header {
      position: absolute;
      background-color: $white;
      bottom: 0;
      width: 100%;
      padding: $gridGutter*2;
    }

    h1 {
      @include adjust-font-size-to(18px);
      color: $textColour;
    }
    span[rel="full-article"] {
      @include adjust-font-size-to(14px);
      font-family: $headingFontFamily;
        &:hover {
          border-bottom: dotted 1px $mainColour;
        }
    }

    @include section-borders;
  }
}

article#thepost {
  @include box-shadow(0 1px 1px rgba(0,0,0,.15));
  width: grid-width(4);
  margin: 0 auto;
  background-color: $white;
  background-position: top center;
  background-repeat: no-repeat;

  &>header {
    margin: 0 $articlePadding 0 $articlePadding;
    padding: ($articlePadding/6) 0;
  }

  &.image {
    &>header {
      margin: 305px ($articlePadding/2) 0 ($articlePadding/2);
      padding: ($articlePadding/6) ($articlePadding/2);
      background-color: $white;
    }
  }

  &>.entry-content {
    padding: 0 $articlePadding ($articlePadding/4) $articlePadding;
  }

  &>footer {
    @include adjust-font-size-to(14px);
    border: 0;
    padding: $articlePadding/2 $articlePadding;
    color: $secondaryColour;
    font-style: italic;
  }

  pre {
    @include rhythm-borders(0px);
    border-top: solid 1px darken($codeBackground, 3%);
    border-bottom: solid 1px darken($codeBackground, 3%);
    @include adjust-font-size-to(14px);
    display: block;
    margin-left: -$articlePadding;
    margin-right: -$articlePadding;
    padding-left: $articlePadding;
    padding-right: $articlePadding;
  }

  @include section-borders;
}

// nav.paginator {
//   z-index: 1;

//   &>a {
//     @include transition(margin 500ms ease-in-out);
//     display: block;
//     position: fixed;
//     background-color: $mainColour;
//     top: 50%;
//     padding: .5em 1em;
//     width: 12em;
//     font-family: $headingFontFamily;
//     font-style: italic;
//     font-size: 14px;
//     color: $secondaryColour;

//     i { width: 3em; }

//     &.prev {
//       text-align: left;
//       right: -9em;
//       &:hover { margin-right: 9em; }
//     }

//     &.next {
//       text-align: right;
//       left: -9em;
//       &:hover { margin-left: 9em; }
//     }
//   }
// }

@import "playground";
