---
layout: default
---

<article id="thepost" class="hentry {{ page.categories | first }}" role="article">
  <header>
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
  </header>
  <section class="entry-content">
    {{ content }}
  </section>
  <footer>
    <p class="meta">
      {% include post/date.html %}
      <i class="icon-pencil"></i> Written by <a rel="me" href="https://plus.google.com/116964527372254202973?rel=author" target="_blank">{{ site.author }}</a> on {{ time }}
      {% if was_updated != '0' %}
        ({{ updated }})
      {% endif %}
    </p>
  </footer>
</article>
