---
layout: error
title: 404 Page not found
hide_from_sitemap: true
---
<article style="text-align: center; color: #999;">
  <header>
    <h1>
      Sorry, there isn't a page here
    </h1>
    <br />
    <i class="icon-bolt" style="font-size: 5em;"></i>
  </header>
  <section style="padding-top: 30px;">
    <p>
      <a href="/">Back to the homepage</a>
    </p>
  </section>
</article>
