<a href="/" class="logo" title="Created by Pete">
  <%= image_tag 'logo.png', width: '100%', alt: "Created by Pete" %>
</a>
<ul>
  <li class="articles">
    <a href="/" title="Articles"><i class="fa fa-pencil"></i></a>
  </li>
  <li class="network github">
    <a rel="me" href="http://github.com/<%= data.networks.github %>" title="Fork me on GitHub"><i class="fa fa-github"></i></a>
  </li>
  <li class="network twitter">
    <a rel="me" href="http://twitter.com/<%= data.networks.twitter %>" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a>
  </li>
  <li class="network google-plus">
    <a rel="me" href="https://plus.google.com/<%= data.networks.googleplus %>" title="Follow me on Google+"><i class="fa fa-google-plus"></i></a>
  </li>
  <li class="network feed">
    <a href="/atom.xml" title="Feed"><i class="fa fa-rss"></i></a>
  </li>
</ul>
