---
layout: default
index: true
---
<section class="list">
{% for post in site.posts %}
{% capture css_class %}{{ post.categories | first | prepend: 'category-' }}{% if forloop.first %} {{ 'latest' }}{% endif %}{% endcapture %}
{% assign date = post.date %}
<article class="{{ css_class }}">
  <header>
    <h1 class="entry-title"><a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a></h1>
  </header>
  {% if forloop.first %}
  {{ post.excerpt }}
  {% else %}
  <time datetime="{{ date | datetime | date_to_xmlschema }}" pubdate>{{ date | date: "%b %d, %Y" }}</time>
  {% endif %}
</article>
{% endfor %}
</section>
